FOUNDRY_PROJECT_ENDPOINT=https://<your-ai-foundry-resource-name>.services.ai.azure.com/api/projects/<your-project-id>
FOUNDRY_MODEL_DEPLOYMENT_NAME=chatmodel
GITHUB_REPOSITORY=your_github_username/your_repository_name
VECTOR_STORE_ID=your_vector_store_id
APPLICATIONINSIGHTS_CONNECTION_STRING="..."
GITHUB_MCP_PAT=""